
.heading {
    font-family: Tahoma, sans-serif;
    background-color: #4b8b68;
    text-align: center;
    padding: 8px;
    color: white;
}

.carrot {
    color: rgb(105, 44, 16);
}

.berry {
    color: rgb(171, 42, 104);
}

p, li {
    font-family: Verdana, sans-serif;
}

.heading.carrot {
    background-color: #e07939;
    color: white;
}

.heading.berry {
    background-color: #b8156f;
    color: white;
}